* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#09090A;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:42px;
}

button {
    padding: 16px 24px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    color:white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 12px;

    font-family: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

form {
    display: flex;
    padding: 0 42px;
}

.habits {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habit {
    width: 64px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;
    color: #A1A1AA;
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
}

input {
    appearance: none;
    background: #18181B;
    width: 64px;
    height: 64px;
    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked{
    background: #8B5CF6;
}

